{% extends "base.html" %} 
{% block title %} Home Page - Wedding {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Hero Section -->
<div class="hero-image intro-section p-3 container-fluid d-flex justify-content-center align-items-center">
    <div class="hero-content text-center">
        <h1>Emer & Jamie Are Getting Hitched</h1>
        <p class="sub-heading">We can't wait to celebrate with you</p>
        <a href="#rsvp-form" class="btn-pink scroll-to-form">RSVP Here</a>
    </div>
</div>

<!-- 3 ICONS -->
<section class="container column-section my-5">
    <div class="row">
        <!-- Column 1 -->
        <div class="col-md-4 text-center">
            <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1697059156/Location_Green_rfehbc.png" alt="Description of Image 1" class="icon-img mb-3">
            <h3>Four Seasons</h3>
            <p>Carlingford, Co.Louth</p>
        </div>
        
        <!-- Column 2 -->
        <div class="col-md-4 text-center">
            <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1697059156/Time_Green_bdyuiq.png" alt="Description of Image 2" class="icon-img mb-3">
            <h3>29 March 2024</h3>
            <p>14:00</p>
        </div>
        
        <!-- Column 3 -->
        <div class="col-md-4 text-center">
            <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1697059156/Menu_Green_fjei91.png" alt="Description of Image 3" class="icon-img mb-3">
            <h3>Menu</h3>
            <p>To be decided</p>
        </div>
    </div>
</section>

<!-- RSVP Form -->
<div class="container-fluid d-flex justify-content-center align-items-center">
    {% load crispy_forms_tags %}

    <form method="post" class="form-container p-3 mb-5 shadow" id="rsvp-form">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.name2|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.will_attend|as_crispy_field }}
        </div>
        <div class="conditional-field">
            <div class="form-group">
                {{ form.both_attending|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.dietary_requirements|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.other_dietary_input|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.attending_day2|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.music_requests|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn-green">Submit</button>
    </form>
</div>

<script>
// HIDES OTHER QUESTIONS UNTIL YES IS SELECTED
 document.addEventListener('DOMContentLoaded', function() {
    const willAttendFields = document.querySelectorAll('input[name="will_attend"]');
    const conditionalContainers = document.querySelectorAll('.conditional-field');

    function toggleFields() {
        let selectedValue;
        willAttendFields.forEach(field => {
            if (field.checked) {
                selectedValue = field.value;
            }
        });

        if (selectedValue === 'True') {  // 'True' is the value for 'Yes'
            conditionalContainers.forEach(container => {
                container.style.display = 'block';  // Show the container
                // Enable all input, select, and textarea elements inside the container
                container.querySelectorAll('input, select, textarea').forEach(input => input.disabled = false);
            });
        } else {
            conditionalContainers.forEach(container => {
                container.style.display = 'none';  // Hide the container
                // Disable all input, select, and textarea elements inside the container
                container.querySelectorAll('input, select, textarea').forEach(input => input.disabled = true);
            });
        }
    }

    willAttendFields.forEach(field => field.addEventListener('change', toggleFields));
    toggleFields();  // Call once to set initial state
});
</script>

{% endblock %}