{% extends "base.html" %}
{% block title %} Sarah & Michael Wedding {% endblock %}
{% load crispy_forms_tags %}

{% block logo %}

{% endblock %}

{% block content %}
<!-- Hero Section -->


<div class="container-fluid">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-7 left-column p-0">
            <div class="hero-section text-center justify-content-center align-self-center">
                <a href="{% url 'home_view' %}">
                    <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1722033160/sarah_logo_transparent_white_wggvjr.png" alt="Logo" class="logo">
                </a>
                <h1>Sarah & Michael Are Getting Married!</h1>
                <p class="sub-heading">We can't wait to celebrate with you!
                <br>
                <small>Please RSVP by 30th September.</small>
                </p>
                <a href="#rsvp-form" class="btn-pink scroll-to-form">RSVP Here</a>
            </div>
        </div>
        
        <!-- Right Column -->
        <div class="col-md-5 right-column p-0">
            <div class="icons">
                <div class="hero-image intro-section">

                </div>
            </div>

            <!-- Column 1 -->
            <div class="col-12 text-center location-icon mb-4">
                <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1722033160/Location_white_jmzurn.png"
                    alt="location icon" class="icon-img mb-3">
                <h3>Clanard Court Hotel</h3>
                <p>Athy, Co. Kildare</p>
            </div>

            <hr class="line-separator">

            <!-- Column 2 -->
            <div class="col-12 text-center mb-4">
                <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1722033160/Time_website_bd4zku.png"
                    alt="Time icon" class="icon-img mb-3">
                <h3>23rd November 2024</h3>
                <p>1.30pm</p>
            </div>

            <hr class="line-separator">

            <!-- Column 3 -->
            <div class="col-12 text-center day-two mb-4">
                <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1722033160/Day_2_white_v84dmx.png"
                    alt="Day 2 icon" class="icon-img mb-3">
                <h3>Clancys Bar</h3>
                <p>5pm (4 minute drive from the Clanard Court Hotel).</p>
                <p class="mb-0 mt-3"><i>Bus is organised to drop guests from the hotel to Clancys for 5pm, 
                    and then back to the hotel after last orders</i></p>
            </div>

        </div>
    </div>
</div>

<!-- RSVP Form -->
<div class="container-fluid d-flex justify-content-center align-items-center">
    {% load crispy_forms_tags %}

    <form method="post" class="form-container p-3 mb-5 shadow" id="rsvp-form">

        <div class="top-of-form pt-2">
            <h2>Wedding RSVP</h2>
            <p>Please fill out only names on invitation. 
                <br> <br>
                Please use the buttons to add & remove guests if on invite.
            </p>
            <div class="line-seperator first-seperator"></div>
        </div>

        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form.name_1|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.will_attend_1|as_crispy_field }}
            </div>
            <div class="form-group button-column col-md-4 d-flex align-items-center justify-content-evenly">
                <button type="button" class="btn add-guest" id="addGuest"><i class="fas fa-plus"></i><span>Add
                        Guest</span></button>
                <button type="button" class="btn remove-guest" id="removeGuest"><i class="fas fa-minus"></i><span>Remove
                        Guest</span></button>
            </div>
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_2|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_2|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 empty-div"></div> <!-- Empty div -->
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_3|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_3|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 empty-div"></div> <!-- Empty div -->
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_4|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_4|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 empty-div"></div> <!-- Empty div -->
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_5|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_5|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 empty-div"></div> <!-- Empty div -->
        </div>

        <!-- GUEST 1 ADDITIONAL DETAILS -->
        <div class="conditional-field-1 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                <label id="dietary_label_1">%GUEST_NAME% do you have any dietary requirements?</label>
                {{ form.dietary_requirements_1|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_1|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                <label id="day2_label_1">%GUEST_NAME%?, are you attending day 2? </label>
                {{ form.attending_day2_1|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 2 ADDITIONAL DETAILS -->
        <div class="conditional-field-2 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                <label id="dietary_label_2">Does %GUEST_NAME% have any dietary requirements?</label>
                {{ form.dietary_requirements_2|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_2|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                <label id="day2_label_2">Is %GUEST_NAME%? attending day 2?</label>
                {{ form.attending_day2_2|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 3 ADDITIONAL DETAILS -->
        <div class="conditional-field-3 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                <label id="dietary_label_3">Does %GUEST_NAME% have any dietary requirements?</label>
                {{ form.dietary_requirements_3|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_3|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                <label id="day2_label_3">Is %GUEST_NAME%? attending day 2?</label>
                {{ form.attending_day2_3|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 4 ADDITIONAL DETAILS -->
        <div class="conditional-field-4 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                <label id="dietary_label_4">Does %GUEST_NAME% have any dietary requirements?</label>
                {{ form.dietary_requirements_4|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_4|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                <label id="day2_label_4">Is %GUEST_NAME%? attending day 2?</label>
                {{ form.attending_day2_4|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 5 ADDITIONAL DETAILS -->
        <div class="conditional-field-5 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                <label id="dietary_label_5">Does %GUEST_NAME% have any dietary requirements?</label>
                {{ form.dietary_requirements_5|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_5|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                <label id="day2_label_5">Is %GUEST_NAME% attending day 2?</label>
                {{ form.attending_day2_5|as_crispy_field }}
            </div>
        </div>

        <!-- NEED TO KEEP HIDDEN UNLESS ANYONE SAYS YES TO ATTENDING -->
        <div id="music-requests-section" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                {{ form.music_requests|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn-green" id="submitButton">Submit</button>
        <div id="loadingAnimation" class="loading-animation" style="display: none;">
            <div class="spinner"></div>
        </div>
    </form>
</div>


<div class="container d-flex justify-content-center">
    <a href="{% url 'home_view' %}">
        <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1722033160/sarah_logo_transparent_white_wggvjr.png"
            alt="Website Logo" class="footer-logo">
    </a>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Function to handle showing and hiding additional details based on attendance
    function handleAttendanceChange(attendanceInputs, detailsElement, guestNumber) {
        attendanceInputs.forEach(input => {
            input.addEventListener('change', function () {
                if (input.value === 'True' && input.checked) {
                    detailsElement.style.display = 'block';
                    const attendingDay2Field = detailsElement.querySelector(`input[name="attending_day2_${guestNumber}"]`);
                    if (attendingDay2Field) {
                        attendingDay2Field.setAttribute('required', ''); // Mark as required
                    }
                } else {
                    detailsElement.style.display = 'none';
                    detailsElement.querySelectorAll('input, select, textarea').forEach(field => {
                        field.removeAttribute('required'); // Remove required
                    });
                }
            });
        });
    }

    // Setup attendance handling for each guest
    function setupGuestAttendance(guestNumber) {
        const willAttend = document.querySelectorAll(`input[name="will_attend_${guestNumber}"]`);
        const additionalDetails = document.querySelector(`.conditional-field-${guestNumber}`);

        if (willAttend.length > 0 && additionalDetails) {
            handleAttendanceChange(willAttend, additionalDetails, guestNumber);
        }
    }

    // Function to update labels with the guest's first name or a default name
    function updateGuestLabels(guestNumber, inputName = '') {
        const day2Label = document.querySelector(`#day2_label_${guestNumber}`);
        const dietaryLabel = document.querySelector(`#dietary_label_${guestNumber}`);

        const nameParts = inputName.trim().split(' ');
        const firstName = nameParts[0] || `Guest ${guestNumber}`;
        const boldFirstName = `<strong>${firstName}</strong>`;

        if (day2Label) {
            day2Label.innerHTML = `${boldFirstName}, are you attending day 2?`;
        }

        if (dietaryLabel) {
            dietaryLabel.innerHTML = `${boldFirstName}, do you have any dietary requirements?`;
        }
    }

    // Setup guest name change handling for each guest
    function setupGuestNameChange(guestNumber) {
        const nameInput = document.querySelector(`input[name="name_${guestNumber}"]`);

        if (nameInput) {
            nameInput.addEventListener('input', function () {
                updateGuestLabels(guestNumber, nameInput.value);
            });
        }
        updateGuestLabels(guestNumber);
    }

    // This function checks if any guest has selected 'Yes' for attending and shows/hides the music request section.
    function updateMusicRequests() {
        const willAttendRadios = document.querySelectorAll('input[type=radio][name^="will_attend_"]');
        let anyoneAttending = false;

        willAttendRadios.forEach(function (radio) {
            if (radio.checked && radio.value === 'True') {
                anyoneAttending = true;
            }
        });

        const musicRequestsSection = document.getElementById('music-requests-section');
        if (anyoneAttending) {
            musicRequestsSection.style.display = 'block';
        } else {
            musicRequestsSection.style.display = 'none';
        }
    }

    // Initialize all the guest-related listeners
    for (let i = 1; i <= 5; i++) {
        setupGuestAttendance(i);
        setupGuestNameChange(i);
    }

    // Check attendance on initial load
    updateMusicRequests();

    // Attach the event listeners to the 'will attend' radio buttons.
    const willAttendRadios = document.querySelectorAll('input[type=radio][name^="will_attend_"]');
    willAttendRadios.forEach(function (radio) {
        radio.addEventListener('change', updateMusicRequests);
    });

    // Handling for adding/removing guests
    const guestSections = document.querySelectorAll('.guest');
    const addGuestButton = document.getElementById('addGuest');
    const removeGuestButton = document.getElementById('removeGuest');

    function getCurrentGuestCount() {
        return Array.from(guestSections).filter(section => section.style.display !== 'none').length;
    }

    function getNextHiddenGuestSection() {
        return Array.from(guestSections).find(section => section.style.display === 'none');
    }

    removeGuestButton.addEventListener('click', function (event) {
        event.preventDefault();
        const currentGuestCount = getCurrentGuestCount();

        if (currentGuestCount > 0) {
            const lastVisibleSection = guestSections[currentGuestCount - 1];

            // Uncheck all 'will attend' options and update UI
            const willAttendRadios = lastVisibleSection.querySelectorAll('input[type=radio][name^="will_attend_"]');
            willAttendRadios.forEach(function (radio) {
                if (radio.checked) {
                    radio.checked = false;
                    radio.dispatchEvent(new Event('change', { 'bubbles': true }));
                }
            });

            // Hide and reset the additional details for the guest being removed
            const additionalDetails = lastVisibleSection.querySelector('.conditional-field');
            if (additionalDetails) {
                additionalDetails.style.display = 'none';
                additionalDetails.querySelectorAll('input, select, textarea').forEach(field => {
                    field.value = '';
                    field.removeAttribute('required');
                });
            }

            // Hide the guest section
            lastVisibleSection.style.display = 'none';

            // Ensure all previously required fields are cleared
            document.querySelectorAll('input[required], select[required], textarea[required]').forEach(field => {
                if (!field.closest('.guest') || field.closest('.guest').style.display === 'none') {
                    field.removeAttribute('required');
                }
            });

            updateMusicRequests();
        }
    });

    addGuestButton.addEventListener('click', function (event) {
        event.preventDefault();
        const nextHiddenSection = getNextHiddenGuestSection();

        if (nextHiddenSection) {
            nextHiddenSection.style.display = 'flex';

            // Set all inputs in the newly shown section as required
            nextHiddenSection.querySelectorAll('input, select, textarea').forEach(input => {
                input.setAttribute('required', '');
            });

            const guestNumber = nextHiddenSection.getAttribute('data-guest-number');

            setupGuestAttendance(guestNumber);
            setupGuestNameChange(guestNumber);

            // Reset any 'will attend' options
            const willAttendRadios = nextHiddenSection.querySelectorAll('input[type=radio][name^="will_attend_"]');
            willAttendRadios.forEach(radio => {
                if (radio.value === 'True') {
                    radio.checked = false;
                }
            });

            updateMusicRequests();
        }
    });

    // Integrate loader and submit button handling
    var form = document.getElementById('rsvp-form');
    var submitButton = document.getElementById('submitButton');
    var loaderIcon = document.getElementById('loadingAnimation');

    form.addEventListener('submit', function (event) {
        // Prevent the default form submission
        event.preventDefault();

        // Hide submit button
        submitButton.style.display = "none";

        // Show loader icon
        loaderIcon.style.display = "inline-block";

        form.submit();
        // Simulate form submission delay
        setTimeout(function () {
        }, 7000);
    });
});


</script>



{% endblock %}