{% extends "base.html" %} 
{% block title %} J&E Get Hitched {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Hero Section -->
<div class="hero-image intro-section p-3 container-fluid d-flex justify-content-center align-items-center">
    <div class="hero-content text-center">
        <h1>Emer & Jamie Are Getting Hitched</h1>
        <p class="sub-heading">We can't wait to celebrate with you! 
            <br>
            <small>Please RSVP by January 29.</small></p>
        <a href="#rsvp-form" class="btn-pink scroll-to-form">RSVP Here</a>
    </div>
</div>

<!-- 3 ICONS -->
    <section class="container column-section my-5">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-md-4 text-center">
                <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1697059156/Location_Green_rfehbc.png" alt="Description of Image 1" class="icon-img mb-3">
                <h3>Four Seasons Hotel</h3>
                <p>Carlingford, Co.Louth</p>
            </div>
            
            <!-- Column 2 -->
            <div class="col-md-4 text-center">
                <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1697059156/Time_Green_bdyuiq.png" alt="Description of Image 2" class="icon-img mb-3">
                <h3>29 March 2024</h3>
                <p>2pm</p>
            </div>
            
            <!-- Column 3 -->
            <div class="col-md-4 text-center">
                <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1697122154/Day_2_Green_uhki6b.png" alt="Description of Image 3" class="icon-img mb-3">
                <h3>Day 2</h3>
                <p>6pm Four Seasons Hotel</p>
            </div>
        </div>
    </section>

<!-- RSVP Form -->
<div class="container-fluid d-flex justify-content-center align-items-center">
    {% load crispy_forms_tags %}

    <form method="post" class="form-container p-3 mb-5 shadow" id="rsvp-form">

        <div class="top-of-form">
            <h2>Wedding RSVP</h2>
            <p>Please fill out only names on invitation. <br>
            <small>Please use the buttons to add & remove names.</small></p>
            <div class="line-seperator"></div>
        </div>

        {% csrf_token %}
        
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form.name_1|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.will_attend_1|as_crispy_field }}
            </div>
            <div class="form-group button-column col-md-4 d-flex align-items-center justify-content-evenly">
                <button type="button" class="btn add-guest" id="addGuest"><i class="fas fa-plus"></i><span>Add Guest</span></button>
                <button type="button" class="btn remove-guest" id="removeGuest"><i class="fas fa-minus"></i><span>Remove Guest</span></button>
            </div>
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_2|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_2|as_crispy_field }}
            </div>
            <div class="form-group col-md-4"></div> <!-- Empty div -->
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_3|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_3|as_crispy_field }}
            </div>
            <div class="form-group col-md-4"></div> <!-- Empty div -->
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_4|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_4|as_crispy_field }}
            </div>
            <div class="form-group col-md-4"></div> <!-- Empty div -->
        </div>

        <div class="form-row guest" style="display: none;">
            <div class="form-group col-md-4">
                {{ form.name_5|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 rsvp-col">
                {{ form.will_attend_5|as_crispy_field }}
            </div>
            <div class="form-group col-md-4"></div> <!-- Empty div -->
        </div>

        <!-- GUEST 1 ADDITIONAL DETAILS -->
        <div class="conditional-field-1 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                {{ form.dietary_requirements_1|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_1|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                {{ form.attending_day2_1|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 2 ADDITIONAL DETAILS -->
        <div class="conditional-field-2 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                {{ form.dietary_requirements_2|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_2|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                {{ form.attending_day2_2|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 3 ADDITIONAL DETAILS -->
        <div class="conditional-field-3 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                {{ form.dietary_requirements_3|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_3|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                {{ form.attending_day2_3|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 4 ADDITIONAL DETAILS -->
        <div class="conditional-field-4 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                {{ form.dietary_requirements_4|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_4|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                {{ form.attending_day2_4|as_crispy_field }}
            </div>
        </div>

        <!-- GUEST 5 ADDITIONAL DETAILS -->
        <div class="conditional-field-5 guest-fields" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                {{ form.dietary_requirements_5|as_crispy_field }}
            </div>

            <div class="form-group other-labels">
                {{ form.other_dietary_input_5|as_crispy_field }}
            </div>

            <!-- <div class="line-seperator"></div> -->
            <div class="form-group other-labels">
                {{ form.attending_day2_5|as_crispy_field }}
            </div>
        </div>

        <!-- NEED TO KEEP HIDDEN UNLESS ANYONE SAYS YES TO ATTENDING -->
        <div id="music-requests-section" style="display: none;">
            <div class="line-seperator"></div>
            <div class="form-group other-labels">
                {{ form.music_requests|as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn-green">Submit</button>
    </form>
</div>

<div class="container d-flex justify-content-center">
    <a href="{% url 'home_view' %}">
        <img src="https://res.cloudinary.com/drqe8p5dw/image/upload/v1697049038/Logo_Idea_250x250_qyuiyv.png" alt="Website Logo" class="footer-logo">
    </a>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Function to handle showing and hiding additional details based on attendance
    function handleAttendanceChange(attendanceInputs, detailsElement, guestNumber) {
        attendanceInputs.forEach(input => {
            input.addEventListener('change', function() {
                if (input.value === 'True' && input.checked) {
                    detailsElement.style.display = 'block';
                    // Here, we set the 'attending_day2' field as required when the details section is visible
                    const attendingDay2Field = detailsElement.querySelector(`input[name="attending_day2_${guestNumber}"]`);
                    if (attendingDay2Field) {
                        attendingDay2Field.setAttribute('required', '');
                    }
                    // Note: Add similar lines here to set other fields as 'required' if necessary
                } else {
                    detailsElement.style.display = 'none';
                    // Remove the 'required' attribute if the section is not displayed
                    detailsElement.querySelectorAll('input, select, textarea').forEach(field => {
                        field.removeAttribute('required');
                    });
                }
            });
        });
    }

    // Set up for each guest's attendance and details
    function setupGuestAttendance(guestNumber) {
        const willAttend = document.querySelectorAll(`input[name="will_attend_${guestNumber}"]`);
        const additionalDetails = document.querySelector(`.conditional-field-${guestNumber}`);

        if (willAttend.length > 0) {
            handleAttendanceChange(willAttend, additionalDetails, guestNumber);
        }
    }

    // Initialize each guest's setup
    for (let i = 1; i <= 5; i++) {
        setupGuestAttendance(i);
    }

    // Code for add/remove guest functionality
    const guestSections = document.querySelectorAll('.guest');
    const addGuestButton = document.getElementById('addGuest');
    const removeGuestButton = document.getElementById('removeGuest');
    let guestCount = 0; // Start with 0 because no additional guests are displayed initially

    addGuestButton.addEventListener('click', function(event) {
        event.preventDefault();  // Prevent form submission on button click
        if (guestCount < guestSections.length) {
            const currentSection = guestSections[guestCount];
            currentSection.style.display = 'flex';
            // Make the fields inside the shown section required
            currentSection.querySelectorAll('input').forEach(input => {
                input.setAttribute('required', '');
            });
            guestCount++;
        }
    });

    removeGuestButton.addEventListener('click', function() {
    if (guestCount > 0) {
        guestCount--;

        // Find the 'will-attend' radio buttons within this guest section.
        const willAttendRadios = guestSections[guestCount].querySelectorAll('input[type=radio][name^="will_attend_"]');
        
        // Reset 'will-attend' radio buttons and trigger a change event to handle conditional fields.
        willAttendRadios.forEach(function(radio) {
            radio.checked = false; // Reset radio buttons
            radio.dispatchEvent(new Event('change')); // Trigger change event
        });

        // Hide the guest section.
        guestSections[guestCount].style.display = 'none';

        // Find the inputs within this section and remove the 'required' attribute.
        const inputs = guestSections[guestCount].querySelectorAll('input');
        inputs.forEach(input => {
            input.removeAttribute('required');
        });
    }
});

    // Function to check if any guest is attending and show the music requests section if so
    function checkAnyAttendance() {
        const willAttendRadios = document.querySelectorAll('input[type=radio][name^="will_attend_"]');
        let anyoneAttending = false;

        willAttendRadios.forEach(function(radio) {
            if (radio.checked && radio.value === 'True') {
                anyoneAttending = true;
            }
        });

        const musicRequestsSection = document.getElementById('music-requests-section');
        if (anyoneAttending) {
            musicRequestsSection.style.display = 'block';
        } else {
            musicRequestsSection.style.display = 'none';
        }
    }

    // Call checkAnyAttendance function whenever any 'will attend' radio changes
    const willAttendRadios = document.querySelectorAll('input[type=radio][name^="will_attend_"]');
    willAttendRadios.forEach(function(radio) {
        radio.addEventListener('change', checkAnyAttendance);
    });

    // Initial check on page load
    checkAnyAttendance();
});

</script>
    

{% endblock %}